#state-dir-area {
    float: left;
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

#state-apple-area {
    float: right;
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

.state-dot {
    position: absolute;
    width: 33%;
    height: 33%;
    background-color: white;
}